<% layout("/layouts/boilerplate.ejs") %>
<br>
<h3 style="text-align:center ;" >Sign Up as a Admin</h3>
<div class="d-flex justify-content-center mt-5">
  <div class="bg-secondary-subtle px-2 py-3 rounded">
    <form action="/admin-signup" method="post">
      <label class="form-label" for="username">Username</label>
      <input
        name="name"
        type="text"
        id="username"
        class="form-control"
        placeholder="username"
      />
      <br />
      <label class="form-label" for="email">Email</label>
      <input
        name="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="email"
      />
      <br/>

      <label class="form-label" for="phone">Phone</label>
      <input
        name="phone"
        type="number"
        id="phone"
        class="form-control"
        placeholder="Phone number"
      />
      <br/>
      <label for="inputPassword" class="form-label">Password</label>
      <input
        name="password"
        type="password"
        id="inputPassword"
        placeholder="password"
        class="form-control"
        aria-describedby="passwordHelpBlock"
      />
      <br />
      <button type="submit" class="btn ms-auto btn-primary mb-3">
        Sign Up
      </button>
    </form>
  </div>
</div>
