
    <!-- Footer -->
    <footer class="text-center text-black" style="background-color: #ccccce">
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                This is an E-commerce website that sells laptops, Mobile phones, Watches and Televisions only. For this exclusive deals buy now.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center">
          <a href="" class="text-black me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-black" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->