<% layout("layouts/boilerplate.ejs") %>

<div style="display: flex; justify-content:center; align-items:center; width:100vw; height:100vh; flex-direction:column;">
    <h1>Order Confirmed!</h1><br>
    <h6>Thank you for your order!</h6>
    <p>Keep your money ready! To collect the order.</p>
</div>
