<% layout("/layouts/boilerplate.ejs") %>


<div
    style="background-color: beige; text-align:center; height:80vh; width:100vw;display: flex;justify-content: center; align-items: center; flex-direction:column; font-size: 6rem;margin: 0;">
    <p>SHOP NOW</p>

    <p style="display:f; justify-content: center; align-items:center; font-size: 2rem;padding:0%;">VISIT.EXPLORE.BUY</p>
</div>

<div style="display: flex;flex-wrap:wrap;justify-content: space-evenly;
margin-top: 20px;">
    
        <div style="background-color: #e2e7e6; height:150px; width:150px; border:2px solid black;">
            <a style="text-decoration: none;" href="#">Mobiles</a> </div>
        <div style="background-color: #e2e7e6;height:150px; width:150px; border:2px solid black;"><a
            style="text-decoration: none;"href="#">Laptops</a></div>
        <div style="background-color: #e2e7e6;height:150px; width:150px; border:2px solid black;"><a
            style="text-decoration: none;" href="#">Watches</a></div>
        <div style="background-color: #e2e7e6;height:150px; width:150px; border:2px solid black;"><a
             style="text-decoration: none;" href="">TV's</a></div>
    
</div>